NEXT_PUBLIC_LIFF_ID=

LINE_LOGIN_CHANNEL_ID=
LINE_LOGIN_CHANNEL_SECRET=
LINE_MESSAGING_API_CHANNEL_ID=
LINE_MESSAGING_API_CHANNEL_SECRET=

DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:54322/postgres
DIRECT_URL=postgresql://postgres:postgres@127.0.0.1:54322/postgres
